# App configuration
HOST=0.0.0.0
PORT=8000

# Security (JWT)
# Generate a secure key using: openssl rand -hex 32
SECRET_KEY=94e7bd016f4d2f0907d72138a0a86071efc5625bf9c9d5e3ef544b802a4d3ff5
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Database
# For production PostgreSQL: postgresql://user:password@localhost:5432/isl_db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/isl_features
SQLITE_FALLBACK=True
